<br>
<div class="container col-4">
  <h1>You are not currently in a couple</h1>
</div>
  <%= link_to "make a new couple" couples_path, data: { turbo_method: :post} %>
<br>


<br>

<div class="container col-4">
  <%= link_to "Back to Dates", experience_path %>
</div>
