// Specific CSS for your home-page
.banner {
  margin: 0px 0px 50px 0px;
}

#card_link {
  text-decoration: none;
}

.cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#carousel-home-text {
  color: white;
  background: #b41313;
  height: 25px;
  // align-items: center;
  // display: flex;
  text-align: center;
}

.section {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 50px 20px 20px 20px;
}

.big-card-container{
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 80px 20px 50px 20px;
  a{
    text-decoration: none;
    margin: 0px 10px;
  }
}
//big card text white-red-white
#big-card-text {
  text-align: center;
  margin-top: 420px;
  margin-left: 230px;
  font-size: 60px;
}
#big-card-text-red{
  text-align: center;
  margin-left: 230px;
  color: red;
  font-size: 60px;
}
#big-card-text-again{
  text-align: center;
  margin-left: 230px;
  font-size: 60px;
}

.big-card {
  // display: flex;
  height: 700px;
  width: 900px;
  // height: auto;
  // width: auto;
  color: white;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 50px 20px 50px 20px;
  #h2{
    text-decoration: none;
    margin: 10px 10px 10px 20px;
    float: top;
  }
}

#banner-button {
  width: 200px;
  align-items: center;
  float: right;
}

// #banner_header {
//   float: right;
// }

.btn {
  padding: 15px 50px;
  text-align: right;
  border-radius: 80px;
  background: #b41313;
  font-size: 12px;
}
//home page carousel 1
.adventurous {
  background-image: url("couple_adventurous.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.roadtrip {
  background-image: url("roadtrip.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.foodie {
  background-image: url("feast.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.relaxed {
  background-image: url("couple_by_sea.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
//home page carousel 2
.home {
  background-image: url("couple_home.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.sporty {
  background-image: url("couple_active.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.pamper {
  background-image: url("pamper.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.romantic {
  background-image: url("romantic.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
//home page carousel 3
.night {
  background-image: url("couple_night.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.instagrammable {
  background-image: url("instagrammable.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.playful {
  background-image: url("couple_playful.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.spicy {
  background-image: url("couple_spicy.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

//2 banner images at bottom of home page
.picnic{
  background-image: url("couple_picnic_forest.jpeg");
  background-size: cover;
  background-position: center;
  display: table-cell;
  filter: brightness(110%)
  // opacity: 0.8;
  // margin: 20px 20px 20px 20px;
}
.feast {
  background-image: url("couple_laugh.png");
  background-size: cover;
  background-position: center;
  display: table-cell;
  filter: brightness(110%)
  // opacity: 0.8;
  // margin: 20px 20px 20px 20px;
}

.carousel-item {
  a{
    text-decoration: none;
  }
}
// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
