// Specific CSS for your home-page
.banner {
  margin: 20px 20px 50px 20px;
}

#h2{
  text-decoration: none;
  margin: 10px 10px 10px 20px;
  float: top;
}

.cards {
  // display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .big-card-container {
//   display: flex;
// }

.section {
  // width: 80%;
  // margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 20px 50px 20px;
}

.big-card-container{
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 50px 20px 50px 20px;
  // text-decoration: none;
}

.big-card {
  // display: flex;
  height: 700px;
  width: 900px;
  // height: auto;
  // width: auto;
  color: white;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 50px 20px 50px 20px;
  // text-decoration: none;
}

#banner-button {
  width: 200px;
  align-items: center;
  float: right;
}

// #banner_header {
//   float: right;
// }

.btn {
  padding: 15px 50px;
  text-align: right;
  border-radius: 80px;
  background: #b41313;
  font-size: 12px;
}

.adventurous {
  background-image: url("adventurous.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.roadtrip {
  background-image: url("roadtrip.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.foodie {
  background-image: url("feast.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.relaxed {
  background-image: url("couple_by_sea.png");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.picnic{
  background-image: url("couple_picnic_forest.jpeg");
  background-size: cover;
  background-position: center;
  // display: flex;
  // margin: 20px 20px 20px 20px;
}
.feast {
  background-image: url("feast.png");
  background-size: cover;
  background-position: center;
  // display: flex;
  // margin: 20px 20px 20px 20px;
}
// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
