<div class="row m-3">
    <div class="card">
      <div class="card-body", style="height: 225px">

        <div class="flex-container h-350px">
          <div class="flex-item">
              <%= image_tag 'secret_booking.png', class: "exp-image", crop: :fill %>
          </div>

          <div class="flex-item text-start booking_info">
            <p class="card-title">
              An Unknown Date orgainsed by <%= current_user.partner.name %>
            </p>

            <p class="card-title">
            <%= "You are booked in for: #{booking.when.strftime('%d-%m-%Y')}" %>
            </p>

            <p class="card-title">
              Your Instructions are
              <%= "#{booking.secret_instructions}" %>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
