<div class="row m-2">
  <div class="card">
    <div class="row g-0">

      <div class="col-md-4">
        <%= image_tag 'secret_booking.png', class: "secret_img", crop: :fill %>
      </div>

      <div class="col-md-8 text-start">
        <div class="card-body" style="margin-left: 15px;margin-top: 30px;">

          <b class="card-title">
            <%= current_user.first_name%> has organised a secret date!
          </b>
          <br>
          <b class="card-title"> You are booked in for:
           <b> <%= "#{booking.when.to_formatted_s(:long)}" %> <b>
          </b>
          <br>
          <b class="card-title">
            Your Instructions are:
            <%= "#{booking.secret_instructions}." %>
          </b>

          </div>
        </div>

    </div>
  </div>
</div>
