  <div id="bookings" class="d-flex flex-wrap justify-content-evenly pb-4">
    <div class="col">
      <h1> Your Bookings </h1>
      <ul>
        <% @bookings.each do |booking| %>
          <% unless booking.secret? && booking.secret_list.includes(current_user.partner.id.to_s)%>
          <div class="col">
              <%= render 'bookings/book', {booking: booking} %>

          </div>
        <% end %>
      </ul>
  </div>
