<div class="footer navbar navbar-fixed-bottom">
  <div class="footer-copyright">
    <li class="list-inline-item">
      <%= link_to "About Us", about_path, class: "nav-link" %>
    </li>
    <li class="list-inline-item">
      <%= link_to "Contact Us", contact_path, class: "nav-link" %>
    </li>
  </div>
 <div class="footer-links">
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  </div>
</div>
