<div id="about-us">
    <div class="about-us-container">
      <h2 id="about-header">The Creators of Dateful</h2>
      <div class="about-us-card d-flex justify-content-around">

        <div>
          <h3 class="ben"></h3>
          <div class= "d-flex .flex-row ">
            <h3>Ben</h3>
            <a href= "https://github.com/aquillo-au" class="fa-brands fa-github"></a>
            <a href= "https://www.linkedin.com/in/benjamin-greig" class="fa-brands fa-linkedin"></a>
          </div>
        </div>

        <div>
          <h3 class="rachel"></h3>
          <div class= "d-flex .flex-row">
            <h3>Rachel</h3>
            <a href= "https://github.com/" class="fa-brands fa-github"></a>
            <a href= "https://www.linkedin.com/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>

        <div>
          <h3 class="enaz"></h3>
          <div class= "d-flex .flex-row ">
            <h3>Enaz</h3>
            <a href="https://github.com/enazbanks" class="fa-brands fa-github"></a>
            <a href="https://github.com/enazbanks" class="fa-brands fa-linkedin"></a>
          </div>
        </div>

        <div>
          <h3 class="brad"></h3>
          <div class= "d-flex .flex-row ">
            <h3>Brad</h3>
            <a href="https://github.com/BradleyTucker701" class="fa-brands fa-github"></a>
            <a href="https://www.linkedin.com/in/bradley-tucker-b0a160132" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="second-banner">
  <div class="second-banner-content text-center d-flex justify-content-around">
    <div class="flex-item" id="second-banner-text">
      <h2 id="second-banner-header">What people are saying</h2>
      <br>
      <br>
        <h5><strong>Truely a game changer</strong></h5>
          <p class="banner-review-text">Working remotely over many timezones means its sometimes hard to plan life outside of work, Dateful has been great in helping me focus on making a real effort to make the most of the time with my partner </p>
          <p class="banner-review-text">- Kathy, Albania</p>
      <%#= link_to "Plan my date", experiences_path, class: "btn btn-primary", id: "banner-button"  %>
    </div>
    <div class="flex-item">
      <div class="kathy-banner-image">
        <%# <img src="couple_at_home.png" alt="Couple embracing" width="200" height="300"> %>
      </div>
    </div>
  </div>
</div>