<div id="about-us">
    <div class="about-us-container">
      <h2 id="about-header">The Creators of Dateful</h2>
      <div class="about-us-card d-flex justify-content-around">

        <div>
          <h3 class="ben"></h3>
          <div class= "d-flex .flex-row ">
            <h3>Ben</h3>
            <a href= "https://github.com/aquillo-au" class="fa-brands fa-github"></a>
            <a href= "https://www.linkedin.com/in/benjamin-greig" class="fa-brands fa-linkedin"></a>
          </div>
        </div>

        <div>
          <h3 class="rachel"></h3>
          <div class= "d-flex .flex-row">
            <h3>Rachel</h3>
            <a href= "https://github.com/" class="fa-brands fa-github"></a>
            <a href= "https://www.linkedin.com/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>

        <div>
          <h3 class="enaz"></h3>
          <div class= "d-flex .flex-row ">
            <h3>Enaz</h3>
            <a href="https://github.com/enazbanks" class="fa-brands fa-github"></a>
            <a href="https://github.com/enazbanks" class="fa-brands fa-linkedin"></a>
          </div>
        </div>

        <div>
          <h3 class="brad"></h3>
          <div class= "d-flex .flex-row ">
            <h3>Brad</h3>
            <a href="https://github.com/BradleyTucker701" class="fa-brands fa-github"></a>
            <a href="https://www.linkedin.com/in/bradley-tucker-b0a160132" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>
</div>
