
<div class="about-us">
  <h2>The Creators of Dateful</h2>
  <div class="col-12 col-sm-6 p-2">
    <div class="about-us-container">
      <div class="about-us-card">
          <h3 class="ben">Ben</h3>
          <h6>Github :</h6>
          <h6>LinkedIn :</h6>
          <h3 class="rachel"> Rachel</h3>
          <h6>Github :</h6>
          <h6>LinkedIn :</h6>
          <h3 class="enaz">Enaz</h3>
          <h6>Github :</h6>
          <h6>LinkedIn :</h6>
          <h3 class="brad">Brad</h3>
          <h6>Github :</h6>
          <h6>LinkedIn :</h6>
      </div>
    </div>
  <div>
</div>

  <%# @creators = ["Ben", "Rachel", "Enaz", "Brad"] %>
    <%# @creators.each do |name| %>
      <%#= puts name %>
      <%#= name.photo %>
      <%#= link_to "Github", "#", class: "button-white-text"%>
      <%#= link_to "LinkedIn", "#", class: "button-white-text"%>
    <%#= end %>
  <%#= end %>
