<div id="about-us">
    <div class="about-us-container">
      <h2 id="about-header">The Creators of Dateful</h2>
      <div class="about-us-card d-flex justify-content-around">
        <div>
          <h3 class="ben">Ben</h3>
          <a href="https://github.com/aquillo-au"><h6>Github</h6></a>
          <a href="https://www.linkedin.com/in/benjamin-greig"><h6>LinkedIn</h6></a>
        </div>
        <div>
          <h3 class="rachel"> Rachel</h3>
          <h6>Github :</h6>
          <h6>LinkedIn :</h6>
        </div>
        <div>
          <h3 class="enaz">Enaz</h3>
          <h6>Github :</h6>
          <h6>LinkedIn :</h6>
        </div>
        <div>
          <h3 class="brad">Brad</h3>
          <a href="https://github.com/BradleyTucker701"><h6>Github</h6></a>
          <a href="https://www.linkedin.com/in/bradley-tucker-b0a160132"><h6>LinkedIn</h6></a>
        </div>
      </div>
    </div>
</div>
