<div>
  <h1>Dateful</h1>
    <p>The Creators of Dateful</p>
      <ul>
        <li>Ben is a Passionate full stack developer with a love for tricky backend operations
        <%= link_to 'https://github.com/aquillo-au' do %>
          <i class="fab fa-github-square"></i>
        <% end %>
        <% link_to 'https://steamcommunity.com/id/aquillo/' do %>
          <i class="fa-brands fa-steam"></i>
        <% end %>
        <% link_to 'https://www.facebook.com/aquillo' do %>
          <i class="fa-brands fa-facebook"></i>
        <% end %>
         </li>
        <li>Enaz</li>
        <li>Rachel</li>
        <li>Brad</li>
      </ul>
</div>
