<div class="contact-us">
  <h2>Contact Us</h2>
    <div class="contact-us-container">
      <div class="contact-us-card">
          <h6>Phone :</h6>
          <h6>Email :</h6>
      </div>
    </div>
</div>
