<div class="contact-us">
  <h2>Contact Us</h2>
  <div class="col-12 col-sm-6 p-2">
    <div class="contact-us-container">
      <div class="contact-us-card">
          <h3 class="ben">Ben</h3>
          <h6>Phone :</h6>
          <h6>Email :</h6>
          <h3 class="rachel"> Rachel</h3>
          <h6>Phone :</h6>
          <h6>Email :</h6>
          <h3 class="enaz">Enaz</h3>
          <h6>Phone :</h6>
          <h6>LinkedIn :</h6>
          <h3 class="brad">Brad</h3>
          <h6>Phone :</h6>
          <h6>LinkedIn :</h6>
      </div>
    </div>
  <div>
</div>
