<div class="contact-us text-center">
  <h2>Contact Us</h2>
    <div class="contact-us-container text-center">
      <div class="contact-us-card">
          <h6>Email : dateful@lewagon.com </h6>
      </div>
    </div>
</div>
