<div>

  <div class="banner">
    <div class="banner-content text-center">
      <h1 id="banner-header">Not sure what to do? Perfect.</h1>
      <%= link_to "Plan my date", experiences_path, class: "btn btn-primary", id: "banner-button"  %>
    </div>
  </div>

  <div class="section">
    <h2>What mood are you in?</h2>
  </div>

  <%= render "pages/carousel" %>

  <div>
    <div class="big-card-container img-responsive">

      <%= link_to mood_experiences_path(query: "Romantic") do %>
        <div class="big-card card-category picnic col-sm-6 img-responsive">
          <h1 id="big-card-text">Go on a</h1><h1 id="big-card-text-red">romantic date</h1><h1 id="big-card-text-again">outdoors</h1>
        </div>
      <% end %>

      <%= link_to mood_experiences_path(query: "Relaxed") do %>
        <div class="big-card card-category feast col-sm-6 img-responsive">
          <h1 id="big-card-text">Have a</h1><h1 id="big-card-text-red">relaxed date</h1><h1 id="big-card-text-again">at home</h1>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%# <div class="row">
<div class="col"> %>

<%# <section>
  <div class="title">
    <h2>Go on a romantic date</h2>
    <div class="btn"></div>
   </div>
  <div class="row">
    <div class="col"></div>
      <img src="./img/couple_picnic_forest.jpeg" alt="">
      <a href="#" class="ctn">Experiences</a>
  </div>
</section> %>
