<%# <%count = 0%>
<% @experience.ratings.each do |rating| %>
  <%# <% while count < 5 do %>
    <%# <%count += 1%>
    <div class="review-card">
      <% if rating.booking.couple.users.first %>
        <%= cl_image_tag rating.booking.couple.users.first.avatar.key, crop: :fill, class:"avatar-show" %>
      <% end %>
      <% if rating.booking.couple.users.last %>
        <%= cl_image_tag rating.booking.couple.users.last.avatar.key, crop: :fill, class:"avatar-show" %>
      <% end %>
        <% if rating.stars %>
          <%  rating.stars.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <%  (5 - rating.stars).times do %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        <% end %>
        <br>
        <%= rating.comment%>
    </div>
<% end %>
<%# <%end%>
