<div class="show-container">
  <p class="title">Moonlight Kayak Tour<%#= experience.title %></p>
    <div class="d-flex">
      <div class="m-4 w-100"> <%= render 'experiences/img_carousel'%> </div>
        <div class="show-card p-2 m-4 flex-shrink-1"> </div>
    </div>
</div>
