<%=render 'experiences/show_card'%>
<%# <div class="show-container" id="page">
<h2 class="title"><%= @experience.title.capitalize  %>
  <%# <div style="display: grid;grid-template-columns: 2fr 1fr;">
    <section class="bg-success"> Pictures </section>
    <section class="bg-warning"> Bookings </section>
  </div>

  <div style="display: grid;grid-template-columns: 1fr 1fr;">
    <section class="bg-primary"> Info</section>
    <section class="bg-info"> Map </section>
  </div>
</div> %>
