.ben {
  background-image: url("ben.jpg");
  height: 350px;
  width: 350px;
  color: floralwhite;
  background-size: cover;
  background-position: center;
}
.enaz {
  background-image: url("female_avatar.png");
  height: 350px;
  width: 350px;
  background-size: cover;
  background-position: center;
}
.rachel {
  background-image: url("female_avatar.png");
  height: 350px;
  width: 350px;
  background-size: cover;
  background-position: center;
}
.brad {
  background-image: url("brad.jpeg");
  height: 350px;
  width: 350px;
  color: floralwhite;
  background-size: cover;
  background-position: center;
}

.about-us{
  margin-top: 40px;
}

.about-us-container{
  margin-bottom: 40px;
}

// .flex-container {
//   display: flex;
//   justify-content: space-between;
// }
