#about-us{
  margin-top: 60px;
  background-position: center;
}
.about-us-container{
  margin-bottom: 200px;
  background-position: center;
}
#about-header{
  align-items: center;
  text-align: center;
}

.ben {
  background-image: url("ben.jpg");
  height: 250px;
  width: 250px;
  color: floralwhite;
  background-size: cover;
  background-position: center;
}
.enaz {
  background-image: url("female_avatar.png");
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
}
.rachel {
  background-image: url("female_avatar.png");
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
}
.brad {
  background-image: url("brad.jpeg");
  height: 250px;
  width: 250px;
  color: floralwhite;
  background-size: cover;
  background-position: center;
}
