#about-us{
  margin-top: 60px;
  background-position: center;
}
.about-us-container{
  margin-bottom: 200px;
  background-position: center;
}
#about-header{
  align-items: center;
  text-align: center;
  margin: 5%;
}

.ben {
  background-image: url("ben.jpg");
  height: 250px;
  width: 250px;
  color: floralwhite;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}
.enaz {
  background-image: url("female_avatar.png");
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}
.rachel {
  background-image: url("female_avatar.png");
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}
.brad {
  background-image: url("brad.jpeg");
  height: 250px;
  width: 250px;
  color: black;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.fa-github {
  font-size: 34px;
  text-decoration: none;
  color: #b41313;
  margin-left: 90px;
  padding-top: 3%;
}

.fa-github:hover {
 color:  #b41313ab;
}


.fa-linkedin {
  font-size: 34px;
  text-decoration: none;
  color: #b41313;
  margin-left: 20px;
  padding-top: 3%;
}

.fa-linkedin:hover {
 color:  #b41313ab;
}
