.banner {
  // height: 100vh;
  display: flex;
  align-items: center;
  // background-image: image-url("sunset_hike.jpg");
  // background-size: cover;
  background-position: center;
  position:relative;
  z-index:-2;
  overflow: hidden;
  // object-fit: cover;
}

h1 {
  color: white;
  font-size: 60px;
}

.banner-text {
  z-index: 1;
  position: absolute;
  top: 15%;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 63%;
  margin-left: 60px;
}
