.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image-url("sunset_hike.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  font-size: 60px;
}

#banner-header{
  margin-left: 650px;
}

.btn {
  padding: 15px 50px;
}
