.card {
  border: none;
  border-radius: 16px;
}

.secret {
  border-right: solid;
  border-width: 10px;
  border-color: rgba(192, 45, 59, 1);
}

.img_info {
  border-radius: 16px;
}

#secret-mask {
  color:rgba(214, 49, 49, 1);
  font-size: x-large;
}
