.card {
  border: none;
  border-radius: 16px;
}

.secret {
  background-color: #FF8787;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  border: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.booking_info{
  width: 940px;
}
