.footer.navbar {
  background: #b41313;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 40px;
  color: white;
  position: static;
  margin-top: 40px;
}
.footer-links {
  display: flex;
  opacity: 0.80;
}
.footer-links a {
  color: white;
  opacity: 0.80;
  // text-decoration: none;
  font-size: 34px;
  padding: 0px 10px;
}

.nav-links a {
  opacity: 0.80;
}

.list-inline-item {
  opacity: 0.80;
 }

.footer-links a:hover {
  opacity: 1.00;
}

.list-inline-item:hover {
  opacity: 1.00;
}

#footer-links{
  padding-right: 30px;
  padding-left: 10px;
  font-size: 20px;
}

#footer-icons{
  padding-left: 40px;
  padding-left: 40px;
  size:20px;
}
