.footer.navbar {
  background: #b41313;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 40px;
  color: white;
  position: static
}
.footer-links {
  display: flex;
  // align-items: center;
  // color: white;
  opacity: 0.80;
}
.footer-links a {
  color: white;
  opacity: 0.80;
  // text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.nav-links a {
  opacity: 0.80;
}

.list-inline-item {
  opacity: 0.80;
 }

.footer-links a:hover {
  opacity: 1.00;
}

.list-inline-item:hover {
  opacity: 1.00;
}
