.mood-carousel {
  height: max-content;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  //  display: grid;
  //  grid-template-columns: 1fr 1fr 1fr 1fr;
  //  grid-gap: 16px;
  //  display: flex;
  //  align-items: center;
  //  justify-content: space-between;
}

#carousel-text {
  text-decoration: none;
  color: grey;
  // margin-bottom: 30px;
  // height: 10px;
}

//home page carousel 1
.adventurous-icon {
  background-image: url("icon_adventure.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.roadtrip-icon {
  background-image: url("icon_roadtripping.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.foodie-icon {
  background-image: url("icon_foodie.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.relaxed-icon {
  background-image: url("icon_relax.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
//home page carousel 2
.home-icon {
  background-image: url("icon_home.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.sporty-icon {
  background-image: url("icon_camping.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.pamper-icon {
  background-image: url("icon_relaxing.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.romantic-icon {
  background-image: url("icon_romantic.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
//home page carousel 3
.night-icon {
  background-image: url("icon_night.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.instagrammable-icon {
  background-image: url("icon_walk.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.playful-icon {
  background-image: url("icon_playful.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
.spicy-icon {
  background-image: url("icon_romance.png");
  height: 110px;
  width: 110px;
  background-size: cover;
  background-position: center;
}


.carousel-item {
  a{
    text-decoration: none;
  }
}
