.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: sticky
  // padding: 10px 5px 0px 0px;
  // height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  background: transparent !important;
}

#name_button {
  background-color: transparent;
  font-size: 18px;
}

#navbarDropdown{
  margin-top: 10px;
}

// .button {
//   justify-content: space-between;
// }

// #navbar {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }
