.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: sticky
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  background: transparent !important;
}

#name_button {
  background-color: transparent;
  font-size: 18px;
}

.navbar-nav .nav-link {
  font-size: 20px;
}

.nav-item {
  padding-left: 40px;
  padding-left: 40px;
}

.navbar {
  z-index: 999;
}
