.show-card {
  width: 610px;
  height: 240px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25)
}

.show-container {
  margin: 24px 160px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-left: 20px;
}
