.show-card {
  width: 610px;
  height: 240px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25)
}

.show-container {
  margin: 24px 160px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-left: 20px;
}

.button-calendar {
  height: 100%;
  width: 117px;
  padding: 4px;
  background-color: rgba(192.31, 44.87, 59.43, 1);
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 100px;
  justify-content: center;
  display: flex;
}

.mood-icons {
  width: 610px;
}

.avatar-show {
  border-radius: 1000px;
  width: 32px;
  height: 32px;
}

.map-card {
  width: 610px;
  height: 240px;
  background-color: white;
  border-radius: 16px;
  position: relative;
}

.fa-location-dot {
  color: rgba(192.31, 44.87, 59.43, 1);
  padding-right: 5px;
}
