#page {
  height: 500vh;
}

.show-card {
  width: 610px;
  height: 240px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25)
}

.show-container {
  margin: 24px 160px;
}

.title-show {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-left: 20px;
  margin-top: 5%;
  margin-bottom: 1%;
}

.btn-book{
  background-color: rgba(192.31, 44.87, 59.43, 1);
  color: white;
  border-radius: 100px;
  text-decoration: none;
}

.btn-book:hover {
  background-color: rgba(192.31, 44.87, 59.43, 1);
  color: rgb(216, 206, 206);
}

.mood-icon {
  width: 150px;
}

.favs{

}
.heart-show {
  left: 86.5vw;
  top: 200px;
  position: absolute;
}

#gold-mask-show {
  color:darkgoldenrod;
  top: 220px;
  left: 86.5vw;
  position: absolute;
  font-size: larger;
}
#red-mask-show {
  top: 206px;
  left: 86.5vw;
  position: absolute;
  color:rgba(214, 49, 49, 1);
  font-size:xx-large;
}
#show-avatar {
  top: 205px;
  left: 86.5vw;
  position: absolute;
}
#show-partner {
  top: 205px;
  left: 84vw;
  position: absolute;
}
.avatar-show {
  border-radius: 1000px;
  width: 32px;
  height: 32px;
}

.map-card {
  width: 610px;
  height: 240px;
  background-color: white;
  border-radius: 16px;
  position: relative;
}

.map {
  width: 100%;
  height: 600px;
  border-radius: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 70px;
}

.fa-location-dot {
  color: rgba(192.31, 44.87, 59.43, 1);
  padding-right: 5px;
}

.review-container {
  width: 45%;
}

.review-card {
  background-color: white;
  border-radius: 16px;
  position: relative;
  margin-top: 20px;
  padding: 16px;
}

.user-rating {
  margin: 20px;
}

.stars-show-card{
  display: flex;
  align-items: flex-end;
  i {
    margin: 6px;
  }
}

.info-card {
  padding: 2%;
}

.info-description {
  font-size: 20px;
  line-height: 1.8;
  word-spacing: 1px;
}

.info-icon {
  color: rgba(192.31, 44.87, 59.43, 1);
  font-size: 25px;
}

.info-text {
  margin-left: 20px;
  font-size: 20px;
  color: rgba(113, 113, 113, 1);
}

.price-large {
  font-size: 20px;
}

#btn-width {
  height: 40px;
  width: 167px;
  margin: 10px;
}

.red-text {
  color: rgba(192.31, 44.87, 59.43, 1);
  border-bottom: 1px solid #0e00001a;
}

.border-bottom {
  border-bottom: 2px solid #0e00001a;
  padding-bottom: 2%;
}

.border-top {
  border-top: 2px solid #0e00001a;
  padding-top: 2%;
  padding-bottom: 2%;
}

.text-right {
  color: #6c757d;
}

.calendar form-control {
  visibility: hidden;
  min-width: 0;
  max-width: 0;
  padding: 0;
  border: 0;
}
#show-book {
  padding: 13px;
}
.mood-show {
  padding-right:7%;
  font-size: 21px;
  color: #717171;
}
