// #top-of-card {
//   margin-top: 20px;
// }

.special-days-card {
  width: 300px;
  height: 150px;
  background: #b41313;
  border-radius: 16px;
  position: relative;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
}

#title {
  margin-top: 20px;
  padding-top: 20px;
}

h3{
  margin-top: 80px;
}

#page {
  height: 100vh;
}

// .button-white-text {

// }
