.special-days-card {
  width: 350px;
  // height: 150px;
  background: #b41313;
  border-radius: 16px;
  position: relative;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: left;
  margin-left: 60px;
  margin-top: 50px;
}

.special-day-header{
  margin-left: 60px;
  margin-right: 60px;
}

h3{
  margin-top: 10px;
}

#page {
  height: fit-content;
}

.special-card-photo{
  border-radius: 16px;
}

.card-body{
  margin-left: 40px;
}

.add-special-day{
  margin-bottom: 50px;
}

.special-day-video{
  // background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  position:relative;
  width: 500px;
  height: auto;
  margin-left: 100px;
}

// #wrapper{
//   width: 1000px;
//   display: flex;
//   // overflow: hidden;
// }

// #first {
//   display: inline-block;
//   margin-left: 100px;
// }
// #second {
//   display: inline-block;
//   // margin-right: 200px;
// }
